@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");

:root {
  --btn-bg: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  --main-color: #ff136f;
}
body {
  font-family: "Poppins", sans-serif;
}
.left-hero-content .price {
  color: var(--main-color) !important;
}
.carousel-title {
  color: #1f1f1f;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
}
.item-info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.item-price {
  font-family: Poppins;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
}
.item-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 14px 20px;
  width: 168px;
  height: 52px;
  background: var(--btn-bg);
  border-radius: 7px;
  border:0;
  color: #Fff;
  text-transform: uppercase;
  top: calc(50% - 52px / 2 + 133.5px);
}
/* categories */
.categories .c-box img{
  height: 90px;
  
}
.categories .box-1{
  background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categories .box-2{
  background: var(--btn-bg);
}
.categories .box-3{
  background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
/* shoes */
.shoes,.backpack{
  background: #F4F4F4;
}
.shoes .card img{
  width: 330px;
  margin: auto;
}
.footer-btn{
  background: var(--btn-bg);
}